{
    // Editor ->
    "editor.fontSize": 12,
    "editor.fontLigatures": true,
    "editor.lineHeight": 2,
    "editor.tabSize": 4,
    "editor.tabCompletion": "on",
    "editor.snippetSuggestions": "top",
    "editor.detectIndentation": false,
    "editor.renderLineHighlight": "none",
    "editor.renderWhitespace": "none",
    "editor.selectionHighlight": false,
    "editor.hideCursorInOverviewRuler": true,
    "editor.scrollbar.horizontal": "hidden",
    "editor.scrollbar.vertical": "hidden",
    "editor.overviewRulerBorder": false,
    "editor.stickyScroll.enabled": false,
    "editor.lightbulb.enabled": "off",
    "editor.cursorBlinking": "solid",
    "editor.wordWrap": "on",
    "editor.fontFamily": "JetBrainsMono Nerd Font",
    "editor.links": false,
    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                "scope": "comment",
                "settings": {
                    "fontStyle": "italic"
                }
            }
        ]
    },

    // Files ->
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,
    "files.autoSave": "off",

    "scm.diffDecorations": "none",
    "emmet.triggerExpansionOnTab": true,
    "material-icon-theme.hidesExplorerArrows": true,
    "update.mode": "none",
    "extensions.ignoreRecommendations": true,
    "breadcrumbs.enabled": false,

    // Explorer ->
    "explorer.compactFolders": false,
    "explorer.confirmDragAndDrop": false,
    "explorer.confirmDelete": false,
    "explorer.decorations.badges": false,

    // Workbench ->
    "workbench.colorTheme": "Dracula Theme",
    "workbench.iconTheme": "material-icon-theme",
    "workbench.editor.showTabs": "single",
    "workbench.sideBar.location": "right",
    "workbench.statusBar.visible": false,
    "workbench.startupEditor": "none",
    "workbench.tips.enabled": false,
    "workbench.tree.enableStickyScroll": false,
    "workbench.tree.renderIndentGuides": "none",
    "workbench.tree.indent": 16,
    "workbench.layoutControl.enabled": false,
    "workbench.navigationControl.enabled": false,
    "workbench.panel.showLabels": false,
    "workbench.settings.applyToAllProfiles": [
        "editor.fontFamily"
    ],
    "workbench.colorCustomizations": {
        "editorSuggestWidget.selectedBackground": "#ff79c6",
        "[Dracula Theme]": {
            "editorSuggestWidget.selectedBackground": "#ff79c6",
            "sideBar.background": "#282a36"
        }
    },

    // Window ->
    "window.commandCenter": false,
    "window.menuBarVisibility": "compact",
    "window.titleBarStyle": "native",
    "window.zoomLevel": 0,

    "files.exclude": {
        "**/.git": false
    },

    "cSpell.userWords": [
        "bson",
        "comprun",
        "godotenv",
        "gonic",
        "joho",
        "kfes",
        "signup",
        "Vyom",
        "vyomop",
        "yazi"
    ],
    "git.enableSmartCommit": true,
    "git.confirmSync": false,
    "git.autofetch": true,
    "git.openRepositoryInParentFolders": "never",


    "terminal.integrated.fontSize": 16,
    "terminal.integrated.fontFamily": "JetBrainsMono Nerd Font",
    "terminal.integrated.cursorStyle": "line",
    "terminal.integrated.lineHeight": 1.5,
    "terminal.integrated.fontLigatures.fallbackLigatures": [
        "<--",
        "<---",
        "<<-",
        "<-",
        "->",
        "->>",
        "-->",
        "--->",
        "<==",
        "<===",
        "<<=",
        "<=",
        "=>",
        "=>>",
        "==>",
        "===>",
        ">=",
        ">>=",
        "<->",
        "<-->",
        "<--->",
        "<---->",
        "<=>",
        "<==>",
        "<===>",
        "<====>",
        "::",
        ":::",
        "<~~",
        "</",
        "</>",
        "/>",
        "~~>",
        "==",
        "!=",
        "/=",
        "~=",
        "<>",
        "===",
        "!==",
        "!===",
        "<:",
        ":=",
        "*=",
        "*+",
        "<*",
        "<*>",
        "*>",
        "<|",
        "<|>",
        "|>",
        "+*",
        "=*",
        "=:",
        ":>",
        "/*",
        "*/",
        "+++",
        "<!--",
        "<!---"
    ],

    "mssql.connectionGroups": [
        {
            "name": "ROOT",
            "id": "4CF0D0C7-6132-4966-8985-EDCE45ECD4DA"
        }
    ],

    "code-runner.clearPreviousOutput": true,
    "code-runner.showExecutionMessage": false,

    "redhat.telemetry.enabled": true,
    "[jsonc]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "rsp-ui.enableStartServerOnActivation": [
        {
            "id": "redhat.vscode-server-connector",
            "name": "JBoss Toolkit",
            "startOnActivation": true
        }
    ],
    "editor.mouseWheelZoom": true,
    "[css]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[typescript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "prettier.tabWidth": 4,
    "[typescriptreact]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[html]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "vs-kubernetes": {
        "vscode-kubernetes.helm-path-linux": "/home/jain/.local/state/vs-kubernetes/tools/helm/linux-amd64/helm",
        "vscode-kubernetes.kubectl-path-linux": "/home/jain/.local/state/vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.minikube-path-linux": "/home/jain/.local/state/vs-kubernetes/tools/minikube/linux-amd64/minikube"
    },
    "[yaml]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "msg.dbEditor.connectionBrowser.showGreeting": false,
    "explorer.fileNesting.patterns": {
        "*.ts": "${capture}.js",
        "*.js": "${capture}.js.map, ${capture}.min.js, ${capture}.d.ts",
        "*.jsx": "${capture}.js",
        "*.tsx": "${capture}.ts",
        "tsconfig.json": "tsconfig.*.json",
        "package.json": "package-lock.json, yarn.lock, pnpm-lock.yaml, bun.lockb, bun.lock",
        "Cargo.toml": "Cargo.lock",
        "*.sqlite": "${capture}.${extname}-*",
        "*.db": "${capture}.${extname}-*",
        "*.sqlite3": "${capture}.${extname}-*",
        "*.db3": "${capture}.${extname}-*",
        "*.sdb": "${capture}.${extname}-*",
        "*.s3db": "${capture}.${extname}-*"
    },
    "explorer.confirmPasteNative": false,
    "diffEditor.codeLens": true,
    "lldb.suppressUpdateNotifications": true,
    "extensions.experimental.affinity": {
        "asvetliakov.vscode-neovim": 1
    },
    "editor.overtypeCursorStyle": "line",
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnPaste": true,
}
